{% extends "general/header_footer_dashboard.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/specific/style_cls_creation.css' %}">
{% if deletion %}
<form action=""method="POST" class="forms_being_processed_div">
{% else %}
<div class="forms_being_processed_div">
{% endif %}
        {% if deletion %}
        {% csrf_token %}
        <p class="logo_forms_title_p">Selecione os alunos que quer retirar da sala:</p>
        {% else %}
        <p class="logo_forms_title_p">Alunos</p>
        {% endif %}
    
        {% for student in students %}

        <div class="forms_std_deletion_div">
            <div>
                <input type="hidden" value="{{student.RA}}" name="students_RA">
                <p class="RA_and_name_p">RA: {{student.RA}}</p>
                <p class="RA_and_name_p">Nome: {{student.name}}</p>
            </div>
            {% if deletion %}
            <div>
                <label class="forms_aux_input_p"for="select">Deletar</label>
                <select name="students_opt_del">
                    <option value="1">Sim</option>
                    <option value="0" selected >Não</option>
                </select>
           
            </div>
            {% endif %}
        </div>


        {% endfor %}
        {% if deletion %}
            <input class="forms_submit_input" formaction="{% url 'matscholar_app:cls_edition_add_student_operation' %}" type="submit" value="Deletar">
            <input class="forms_submit_input" formaction="{% url 'matscholar_app:cls_edition_page' %}" type="submit" value="Voltar">
        {% else%}

        <form method="POST"action="{% url 'matscholar_app:cls_edition_page'%}">
            {% csrf_token %}
            <input class="forms_submit_input" formaction="{% url 'matscholar_app:cls_edition_page' %}" type="submit" value="Voltar">
        </form>
        {% endif %}
            
{% if deletion %}
</form>
{% else %}
</div>
{% endif %}

{% endblock content %}


