{% extends 'general/header_footer_dashboard.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/specific/style_crs_creation.css' %}">
<form method="POST" action="{% url 'matscholar_app:crs_creation_classes_operation'%}" class="forms_being_processed_form">
     {% csrf_token %}
    <div class="forms_being_processed_div">
        <div class="forms_title_div">
            <img class="logo_forms_title_img" src="{% static 'images/logo.png' %}" alt="">
            <p class="logo_forms_title_p">MatScholar</p>
        </div>
        <div class="forms_info_being_processed_div">
            <p class="forms_aux_input_p">Nome</p>
            <input class="forms_input_being_processed_input" type="text" name="course_name" id="course_name" value="{{course_name}}" readonly required >
        </div>
       <div class="forms_info_being_processed_div">
            <p class="forms_aux_input_p">Sigla/Acrônimo</p>
            <input class="forms_input_being_processed_input" type="text" name="course_acronym" id="course_acronym" value="{{course_acronym}}" readonly required >
        </div>
       <div class="forms_info_being_processed_div">
            <p class="forms_aux_input_p">Código E-mec</p>
            <input class="forms_input_being_processed_input" type="text" name="course_e_mec" id="course_e_mec" value="{{course_e_mec}}" readonly required >
       </div>
       <div class="forms_info_being_processed_div">
            <p class="forms_aux_input_p">Duração máxima em anos</p>
            <input class="forms_input_being_processed_input" type="text" name="course_max_length" id="course_max_length" value="{{course_max_length}}" readonly required >
        </div>
         <div class="forms_info_being_processed_div">
            <p class="forms_aux_input_p">Quantidade de aulas</p>
            <input class="forms_input_being_processed_input" type="text" name="course_quant_classes" id="course_quant_classes" value="{{course_quant_classes}}" readonly required >
        </div>
   
        <p class="logo_forms_title_p">Digite o nome das aulas/matérias do curso</p>
        {% for index in in_range %}
        <div class="forms_abs_class_creation_div">

            <p class="counter_iterations_classes_p">{{forloop.counter}}</p>
            <input class="forms_abs_class_creation_input"type="text" name="class_id" id="">
            <div>
                <label class="forms_aux_input_p"for="select">Inicial</label>
                <select name="class_initial" id="select">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
           
            </div>
          
        </div>

        {% endfor %}
        <div style="margin-top:20px;display:flex;justify-content:center;align-items:center;flex-direction:column">
            
           <input type="submit" class="forms_submit_input" value="Avançar"> 
        </div>
    </div>
</form>

{% endblock content%}