{% extends 'general/header_footer_dashboard.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/specific/style_dashboard.css'%}">

{% if "Prof" in  request.session.permissions or "SUPER" in request.session.permissions%}

<div class="professor_organizer_div">  

    <p class="professor_classes_grid_p">Olá {{request.session.role}} {{request.session.name}}!</p>

    <div class="principal_queries_organizer_div">

        <p class="p_toggle_forms_p" id="toggle_class_name" onclick="toggle_query_classname_visibility()">Pesquisar aula por nome</p>

         <form action="{% url 'matscholar_app:query_classname'%}"method="POST" class="forms_queries_form fechado" id="form_class_name">
            {% csrf_token %}
            <p class="forms_aux_input_p">Pesquise o nome da aula que deseja</p>
            <input class="forms_input"type="text" placeholder="Pesquisar" id="name_query" name="name_query">
            <input class="forms_submit_input"type="submit" value="Pesquisar">
        </form>


    </div>
    {% if messages %}
            {% for message in messages %}
                 {% include "specific/messages.html" %}
            {% endfor %}
    {% endif %}
    {% if query_active %}
          <p class="professor_classes_grid_p">Resultados de '{{query_classname}}'</p>
    {% else %}
    <p class="professor_classes_grid_p">Suas aulas</p>
    {% endif %}
    <div class="professor_classes_grid_div">
        {% if list_classes %}   
            {% for class in list_classes  %}
            <form action="{% url 'matscholar_app:prof_cls_edition_page' %}" method="POST">
                {% csrf_token %}
                <div class="professor_class_div">
                    <div class="professor_class_identify_name">
                        <input type="hidden" name="class" value="{{class.id}}">
                        <p  class="professor_class_title_p">{{class.name}}</p>
                    </div>
                
                        <p class="professor_class_p">Data de início: {{class.start_date}}</p>
                        <p  class="professor_class_p">Data de fim: {{class.end_date}}</p>
                
                    <input type="submit" class="professor_class_access_button_a centralizar" value="Acessar">
                </div>
            </form>
            {% endfor %}

        
        {% else %}
            <div class="professor_class_div" style="justify-content:center">
                    <div class="professor_class_identify_name">
                        <p  class="professor_class_title_p">Não foi possível encontrar suas aulas!</p>
                    </div>
                
                </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% if 'Princ' in  request.session.permissions or 'SUPER' in request.session.permissions%}



    
    <div class="professor_organizer_div">  
        
    <p class="professor_classes_grid_p">Olá {{request.session.role}} {{request.session.name}}!</p>
    <div class="principal_operations_buttons_div">
        
        <a href="{% url 'matscholar_app:std_creation_courses' %}">
            <div class="operations_simulate_buttons_div button_color_darkblue_div">
                <img class="operations_button_icon_img"src="{% static 'icons/student_icon.png'%}" alt="">
                <p class="operations_buttons_p">Criar estudante</p>
            </div>
            
        </a>
       <a href="{% url 'matscholar_app:cls_creation_courses' %}">
            <div class="operations_simulate_buttons_div button_color_darkgreen_div">
               <img class="operations_button_icon_img"src="{% static 'icons/new_book_icon.png'%}" alt="">
                <p class="operations_buttons_p">Criar sala</p>
            </div>
            
        </a>
        <a href="{% url 'matscholar_app:crs_creation_info' %}">
            <div class="operations_simulate_buttons_div button_color_lightblue_div">
                <img class="operations_button_icon_img"src="{% static 'icons/new_folder_icon.png'%}" alt="">
                <p class="operations_buttons_p">Criar curso</p>
            </div>
            
        </a>

    </div>

   <div class="principal_operations_buttons_div">
        
        <a href="{% url 'matscholar_app:std_edition_courses' %}">
            <div class="operations_simulate_buttons_div button_color_darkblue_div">
                <img class="operations_button_icon_img"src="{% static 'icons/edit_icon.png'%}" alt="">
                <p class="operations_buttons_p">Editar estudante</p>
            </div>
            
        </a>
       <a href="{% url 'matscholar_app:cls_edition_courses' %}">
            <div class="operations_simulate_buttons_div button_color_darkgreen_div">
               <img class="operations_button_icon_img"src="{% static 'icons/edit_icon.png'%}" alt="">
                <p class="operations_buttons_p">Editar sala</p>
            </div>
            
        </a>
        <a href="{% url 'matscholar_app:crs_creation_info' %}">
            <div class="operations_simulate_buttons_div button_color_lightblue_div">
                <img class="operations_button_icon_img"src="{% static 'icons/edit_icon.png'%}" alt="">
                <p class="operations_buttons_p">Editar curso</p>
            </div>
            
        </a>

    </div>
    {% if messages %}
            {% for message in messages %}
                 {% include "specific/messages.html" %}
            {% endfor %}
    {% endif %}
    {% if query_active %}
        <p class="professor_classes_grid_p">Resultados de '{{query_classname}}'</p>
    {% else %}
        <p class="professor_classes_grid_p">Aulas em andamento em sua instituição</p>
    {% endif %}
    <div class="principal_queries_organizer_div">
        
        <p class="p_toggle_forms_p" id="toggle_class_name" onclick="toggle_query_classname_visibility()">Pesquisar aula por nome</p>
        <form action="{% url 'matscholar_app:query_classname'%}"method="POST" class="forms_queries_form fechado" id="form_class_name">
            {% csrf_token %}
            <p class="forms_aux_input_p">Pesquise o nome da aula que deseja</p>
            <input class="forms_input"type="text" placeholder="Pesquisar" id="name_query" name="name_query">
            <input class="forms_submit_input"type="submit" value="Pesquisar">
        </form>

        <p class="p_toggle_forms_p" id="toggle_professor_name" onclick="toggle_query_professorname_visibility()">Pesquisar aula por professor</p>
        <form action="{% url 'matscholar_app:query_professorname'%}"method="POST" class="forms_queries_form fechado" id="form_professor_name">
            {% csrf_token %}
            <p class="forms_aux_input_p">Pesquise o nome do professor que deseja</p>
            <input class="forms_input"type="text" placeholder="Pesquisar" name="name_query" id="name_query">
            <input class="forms_submit_input"type="submit" value="Pesquisar">
        </form>

    </div>
    <div class="professor_classes_grid_div">
        {% if list_classes %}   
            {% for class in list_classes  %}
            <form action="{% url "matscholar_app:cls_edition_page" %}" method="POST">
                {% csrf_token %}
                <div class="principal_class_div">
                    <div class="professor_class_identify_name">
                        <input type="hidden" name="class" value="{{class.id}}">
                        <p  class="professor_class_title_p">{{class.name}}</p>
                    </div>
                        <p class="professor_class_p">Nome do docente: {{class.professor_name}}</p>
                        <p  class="professor_class_p">Email do docente: {{class.professor_email}}</p>
                        <p class="professor_class_p">Data de início: {{class.start_date}}</p>
                        <p  class="professor_class_p">Data de fim: {{class.end_date}}</p>
                
                    <input type="submit"class="professor_class_access_button_a centralizar" value="Acessar">
                </div>
            </form>
            {% endfor %}

        
        {% else %}
            <div class="professor_class_div" style="justify-content:center">
                    <div class="professor_class_identify_name">
                        <p  class="professor_class_title_p">Não foi possível encontrar suas aulas!</p>
                    </div>
                
                </div>
        {% endif %}
    </div>
</div>


{% endif %}

{% if request.session.RA%}
    <div class="professor_organizer_div">  

        <p class="professor_classes_grid_p">Olá Aluno(a) {{request.session.name}}!</p>

        <div class="principal_queries_organizer_div">

            <p class="p_toggle_forms_p" id="toggle_class_name" onclick="toggle_query_classname_visibility()">Pesquisar aula por nome</p>

            <form action="{% url 'matscholar_app:student_query_classname'%}"method="POST" class="forms_queries_form fechado" id="form_class_name">
                {% csrf_token %}
                <p class="forms_aux_input_p">Pesquise o nome da aula que deseja</p>
                <input class="forms_input"type="text" placeholder="Pesquisar" id="name_query" name="name_query">
                <input class="forms_submit_input"type="submit" value="Pesquisar">
            </form>


        </div>
        {% if messages %}
                {% for message in messages %}
                    {% include "specific/messages.html" %}
                {% endfor %}
        {% endif %}

        {% if query_active %}
            <p class="professor_classes_grid_p">Resultados de '{{query_classname}}'</p>
        {% else %}
        
        {% if list_assignments %}
            <p class="professor_classes_grid_p">Suas próximas tarefas</p>
            <div class="assignment_organizer_div">
                <table style="width:100%;">
                    <tr>
                        <th class="assignment_info_td">Disciplina</th>
                        <th class="assignment_info_td">Nome</th>
                        <th class="assignment_info_td">Docente</th>
                        <th class="assignment_info_td">Data de entrega/avaliação</th>
                    </tr>
                
                
                    {% for assignment in list_assignments %}
                    
                        <tr>
                            <td class="assignment_info_td">{{assignment.class_name}}</td>
                            <td class="assignment_info_td">{{assignment.name}}</td>
                            <td class="assignment_info_td">{{assignment.prof_role}} {{assignment.prof_name}}</td>
                            <td class="assignment_info_td">{{assignment.deadline}}</td>
                        </tr>
    


                    {%  endfor  %}
                </table>
            </div>
            
        {% endif %}









        <p class="professor_classes_grid_p">Suas aulas</p>

        {% endif %}

        <div class="professor_classes_grid_div">

            {% if list_classes %} 

                {% for class in list_classes  %}
                    
                    <form action="{% url 'matscholar_app:std_cls_view_page'  %}" method="POST">
                        {% csrf_token %}
                        <div class="student_class_div">
                            <div class="professor_class_identify_name">
                                <input type="hidden" name="id" value="{{class.class_id}}">
                                <p  class="professor_class_title_p">{{class.class_name}}</p>
                            </div>
                                <p class="professor_class_p">Docente: {{class.academic_user_role}} {{class.academic_user_name}}</p>
                                <p class="professor_class_p">Email do docente: {{class.academic_user_email}}</p>
                                <p class="professor_class_p">Data de início: {{class.start_date}}</p>
                                <p  class="professor_class_p">Data de fim: {{class.end_date}}</p>
                        
                            <input type="submit" class="professor_class_access_button_a centralizar" value="Acessar">
                        </div>
                    </form>

                {% endfor %}


            
            {% else %}

                <div class="professor_class_div" style="justify-content:center">
                        <div class="professor_class_identify_name">
                            <p  class="professor_class_title_p">Não foi possível encontrar suas aulas!</p>
                        </div>
                    
                    </div>

            {% endif %}

        </div>
    </div>
{% endif %}
{% endblock content %}