{% extends "general/header_footer.html" %}
{% load static %}

{% block content %}
    <div style="overflow:hidden">

        <img class="index_image"src="{% static 'images/index_image.webp' %}" alt="Professores utilizando MatScholar">
        
    </div>
    <div class="text1_div">
        <div class="column_text1_div centralizar">
            <p class="title1_p">Quem somos e o que oferecemos?</p>
            <img class='minor_index_image'src="{% static 'images/logo.png' %}" alt="">
            <p class='text1_p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum vel felis eget vestibulum.
            </p>
        </div>
        <div class="grid_text1_div">

            <div class="subgrid_text1_div">

                <div class="subgrid_header_div">
                    
                    <img class="subgrid_icon_img"src="{% static 'icons/book_icon.svg'%}" alt="">
                    <p class="subgrid_icon_aux_p">Vantagens para os estudantes</p>
                   
                </div>
                <ul style="width:100%;">
                    <li class="subgrid_topics_li">Análise de desempenho em trabalhos e provas</li>
                    <li class="subgrid_topics_li">Maior contato com o Feedback dos docentes</li>
                    <li class="subgrid_topics_li" style="margin-bottom:0px;">Maior transparência dos processos de correção da instituição</li>
                    
                </ul>
                    


            </div>

            <div class="subgrid_text1_div">
                
                 <div class="subgrid_header_div">
                    <img class="subgrid_icon_img"src="{% static 'icons/school_icon.svg'%}" alt="">
                    <p class="subgrid_icon_aux_p">Vantagens para os professores</p>
                </div>
                <ul style="width:100%;">
                    <li class="subgrid_topics_li">Disponibilização rápida e dinâmica de dados dos alunos</li>
                    <li class="subgrid_topics_li">Maior comunicação com os alunos </li>
                    <li class="subgrid_topics_li" style="margin-bottom:0px;">Ganho de produtividade ao lançar notas</li>
                    
                </ul>

            </div>

        </div>
        
    </div>
    

{% endblock content %}
