{% extends "general/header_footer.html"%}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/specific/style_login.css'%}">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="forms_title_div">
            <img class="logo_forms_title_img" src="{% static 'images/logo.png' %}" alt="">
            <p class="logo_forms_title_p">MatScholar</p>
        </div>
        <p class="logo_forms_title_p" style="font-size:30px">Entrar</p>
        <p class="forms_aux_input_p">E-mail para profissionais</p>
        <input class="forms_input" type="email" name="email" id="email" placeholder="E-mail" >

        <p class="forms_aux_input_p">RA para alunos</p>
        <input class="forms_input" type="text" name="RA" id="RA" placeholder="RA" >
        <p class="forms_aux_input_p">Senha</p>
        <input class="forms_input"type="password" name="password" id="password" placeholder="Senha" autocomplete="new-password" required>
        <div style="margin-top:20px">

            <input type="checkbox" name="show_password" id="show_password" onclick="toggle_visibility()" >
            <label class="forms_aux_input_p"for="show_password">Mostrar senha</label>
            
        </div>
        {% if messages %}
            {% for message in messages %}
                 {% include "specific/messages.html" %}
            {% endfor %}
        {% endif %}
        
        <input class="forms_submit_input"type="submit" value="Entrar como profissional" formaction={% url 'matscholar_app:login_operation_academic_user'%}>
        <input class="forms_submit_input"type="submit" value="Entrar como aluno" formaction={% url 'matscholar_app:login_operation_student'%}>
    </form>
    
{% endblock content %}