{% extends 'general/header_footer_dashboard.html'%}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/specific/style_std_creation.css' %}">
    <form method="POST" action="{% url 'matscholar_app:std_creation_operation'%}" class="form_form">
     {% csrf_token %}
     <input type="hidden" name="course_id" id="course_id" value="{{course_id}}">
        <div class="forms_title_div">
            <img class="logo_forms_title_img" src="{% static 'images/logo.png' %}" alt="">
            <p class="logo_forms_title_p">MatScholar</p>
        </div>
        <p class="logo_forms_title_p" style="font-size:30px">Criar aluno</p>
        <p class="forms_aux_input_p"></p>
        <p class="forms_aux_input_p">Nome</p>
        <input class="forms_input" type="text" name="name" id="name" placeholder="Nome"  required >

        <p class="forms_aux_input_p">RA</p>
        <input class="forms_input" type="text" name="RA" id="RA" placeholder="RA" value="{{valid_RA}}" required readonly>

        <p class="forms_aux_input_p">Ano de entrada</p>
        <input class="forms_input" type="text" name="_" id="_" placeholder="Ano de entrada"value={{actual_year}} required readonly>

        <p class="forms_aux_input_p">Senha recomendada:</p>
        <input class="forms_input"type="text" name="password" id="password" placeholder="Senha" autocomplete="new-password" 
        value="{{recommended_password}}" required >
        
        <div style="margin-top:20px;display:flex;justify-content:center;align-items:center;flex-direction:column">
            <p class="forms_aux_input_p">A senha deverá ter no mínimo 10 caracteres</p>
            <p class="forms_aux_input_p"> Confira os dados antes de enviar</p>
           <input type="submit" class="forms_submit_input" value="Cadastrar"> 
        </div>
    </form>






{% endblock content %}