{% extends 'general/header_footer_dashboard.html'%}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/specific/style_crs_creation.css'%}">

 <form method="POST" action="{% url 'matscholar_app:dashboard_page'    %}" >
     {% csrf_token %}
    <div class="grades_organizer_div">
        {% if final_grades %}
         <p class="grade_p">Histórico</p>
                <table style="width:100%;">
                    <tr>
                        <th class="grade_info_td">Disciplina</th>
                        <th class="grade_info_td">Nota</th>
                        <th class="grade_info_td">Frequência</th>
                        <th class="grade_info_td">Fechamento</th>
                        <th class="grade_info_td">Situação</th>
                    </tr>
                
                
                    {% for final_grade in final_grades %}
                    
                        <tr>
                            <td class="grade_info_td">{{final_grade.name}}</td>
                            <td class="grade_info_td">{{final_grade.grade}}</td>
                            <td class="grade_info_td">{{final_grade.attendance}}</td>
                            <td class="grade_info_td">{{final_grade.operation_date}}</td>
                            <td class="grade_info_td">{{final_grade.result}}</td>
                        </tr>
    


                    {%  endfor  %}
                </table>
        {% else %}
        <p class="grade_p">Não foram encontradas matérias!</p>
        {% endif %}
       
        
                <input class="forms_submit_input"type="submit" value="Voltar">
                
    </div>
</form>
{% endblock content %}