{% extends "general/header_footer_dashboard.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/specific/style_cls_creation.css'%}">
  
        <div class="courses_select_div">
            <p class="courses_p">Deseja editar mais?</p>
                  <form action="{% url 'matscholar_app:prof_cls_edition_page'%}" method="POST">
                     {% csrf_token %}
                     <input type="submit" value="Sim" class="again_button_input">
                  </form>
                  <form action="{% url 'matscholar_app:dashboard_page'%}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Tela de início" class="again_button_input">
                  </form>

        </div>
        {% if messages %}
            {% for message in messages %}
                 {% include "specific/messages.html" %}
            {% endfor %}
        {% endif %}
{% endblock content %}