{% extends "general/header_footer_dashboard.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/specific/style_cls_creation.css'%}">
    <form method="POST" action="{% url 'matscholar_app:crs_edition_abs_classes'%}">
        {% csrf_token%}
        <div class="courses_select_div">
            <p class="courses_p">Cursos disponíveis</p>
            <select class="courses_select"name="course" id="course">
                {% for course in courses_query %}
                    <option value="{{course.id}}">{{course.name}}</option>
                {% endfor %}
            </select>
            <input class="forms_submit_input"type="submit" value="Avançar">
        </div>
    </form>
{% endblock content %}