@import url('../style_master.css');
a{
    text-decoration: None;
}
.button_color_darkgreen_div{
    background-color: var(--color-darkgreen);
}
.button_color_darkblue_div{
    background-color: var(--color-darkblue);
}
.button_color_lightblue_div{
    background-color: var(--color-lightblue);
}
.operations_buttons_p{
    font-family: Chakra;
    font-size: 15px;
    text-decoration: None;
    color: white;
}
.operations_simulate_buttons_div{
    padding:10px;
    border-radius: var(--border-radius);
    height:30px;
    width:200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: 1s;
    justify-content: space-evenly;    
}
.operations_simulate_buttons_div:hover{
    cursor:pointer;
    transform:scale(1.05);
    transition-duration: 1s;
}
.operations_button_icon_img{
    width:50px;
    height:50px;
}
.forms_input{
    font-family: Chakra;
    font-size:13px;
    border-radius: 10px;
    border-style:none;
    padding:5px;
    height: 30px;
    background-color:white;
    width: 400px;
  
}
.forms_aux_input_p{
    font-family: Chakra;
    font-size: 18px;
}
.forms_submit_input{
    height:30px;
    width:420px;
    padding:5px;
    margin-top: 20px;
    font-family: Chakra;
    font-size: 15px;
    border-style: none;
    border-radius: 10px;
    transition-duration: 1s;
}
.forms_submit_input:hover{
    transition-duration: 1s;
    transform: scale(1.05);
    cursor:pointer;
}
.forms_queries_form{
    display:flex;
    flex-direction: column;
    height:fit-content;
    overflow: hidden;
    transition-duration: height 1s;
}
.forms_queries_form.fechado{
    height: 0px;
}
.p_toggle_forms_p{
    background-color: white;
    font-family: Chakra;
    font-size: 15px;
    width:420px;
    padding:5px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    transition-duration: 1s ;
}
.p_toggle_forms_p:hover{
    transform: scale(1.05);
    transition-duration:1s ;
}
/* PARTE DO PROFESSOR */
.professor_organizer_div{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 100px;
}

.professor_classes_grid_div{
    display:grid;
    grid-template-columns:400px 400px ;
    
    justify-content:space-evenly;
    height: fit-content;
    width:1000px;
   
}
.professor_classes_grid_p{
    font-family: Chakra;
    font-size: 25px;
}
.professor_class_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    border-radius: var(--border-radius);
    width:400px;
    height:200px;
    margin:20px;
    padding:20px;
    box-shadow:2px 2px 2px 1px black;
    
}
.professor_class_title_p{
    font-family:Chakra;
    font-size:18px;
}
.professor_class_identify_name{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.professor_class_p{
    font-family:Chakra;
    font-size:15px;
}
.professor_class_access_button_a{
    width:250px;
    height:30px;
    border-radius: var(--border-radius);
    background-color:var(--color-darkblue);
    display:flex;
    text-decoration: None;
    color: white;
    font-size:15px ;
    transition-duration:0.5s;
    transition-property: background-color;
    cursor:pointer;
    font-family: Chakra;
}
.professor_class_access_button_a:hover{
     transition-property: background-color;
     background-color:rgba(15, 75, 168,1);
    transition-duration:0.5s;
}
/* PARTE DO 'PRINCIPAL' */
.principal_class_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    border-radius: var(--border-radius);
    width:400px;
    height:300px;
    margin:20px;
    padding:20px;
    box-shadow:2px 2px 2px 1px black;
}
.principal_queries_organizer_div{
    display: flex;
    flex-direction: column;
}
.principal_operations_buttons_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Parte do aluno */
.student_class_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    border-radius: var(--border-radius);
    width:400px;
    height:300px;
    margin:20px;
    padding:20px;
    box-shadow:2px 2px 2px 1px black;
}
.assignment_div{
    display:flex;
    flex-direction: row;
    width:100%;
    gap:100px;
}
.assignment_organizer_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    border-radius: var(--border-radius);
    width:1000px;
    height:fit-content;
    margin:20px;
    padding:20px;
    box-shadow:2px 2px 2px 1px black;
}
.assignment_info_td{
    font-family:Chakra;
    font-size:15px;
    text-align: center;
    text-overflow:ellipsis;
}