@import url('../style_master.css');

.index_image{
    width: 99vw;
    height:650px;
}
.index_login_button_a{
    width:200px;
    height:30px;
    border-radius: var(--border-radius);
    background-color:rgba(15, 75, 168,0.0);
    display:flex;
    text-decoration: None;
    color: white;
    font-size:15px ;
    transition-duration:0.5s;
    transition-property: background-color;
}
.index_login_button_a:hover{
    transition-property: background-color;
     background-color:rgba(15, 75, 168,1);
    transition-duration:0.5s;
}
.text1_div{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    justify-content: space-evenly;
    margin-top:20px;
   
}
.grid_text1_div{
    display: grid;
    width:40%;
    gap:10px;

}
.subgrid_text1_div{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: white;
    padding:15px;
    box-shadow:2px 2px 2px 1px black;
    align-items: center;
}
.subgrid_icon_img{
    
    width:40px;
    height:40px;
    border-radius:22px;
    padding:5px;
}
.subgrid_icon_aux_p{
     font-family: Chakra;
    font-size: 20px;
    font-weight: bold;
}
.subgrid_header_div{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:10px;
    align-items:center;
}
.subgrid_topics_li{
    margin-bottom:30px;
    font-family: Chakra;
    font-size:18px;
}


.column_text1_div{
    display:flex;
    flex-direction: column;
    width:40%;
    border-radius: var(--border-radius);
    background-color: white;
    padding:10px;
    box-shadow:2px 2px 2px 1px black;
    justify-content: flex-start;
}
.title1_p{
    font-family: Chakra;
    font-size: 30px;
    font-weight: bold;
}
